.special-menu {
    flex-direction: column;
    background: #0c0c0c;
}
.special-menu-title {
    margin-bottom: 2rem;
    text-align: center;
}
.special-menu-menu {
    width: 100%;
    color: #fff;
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}
.special-menu-menu-heading {
    font-family: 'Cormorant Upright', serif;
    font-weight: 600;
    font-size: 45px;
    line-height: 58.5px;
    letter-spacing: 0.04em;
    color: #fff;
}
.special-menu-menu-wine,
.special-menu-menu-cocktails {
    flex: 1;
    width: 100%;
    flex-direction: column;
}
.special-menu-menu-image {
    width: 410px;
    margin: 0 2rem;
}
.special-menu-menu-image img {
    width: 100%;
    height: auto;
}
.special-menu-menu-items {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    width: 100%;
}

@media screen and (max-width: 2000px){
    .special-menu-menu-image {
        width: 650px;
    }
    .special-menu-menu-image img {
        height: 920px;
    }
}
@media screen and (max-width: 1150px){
    .special-menu-menu {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .special-menu-menu-image {
        margin: 3rem 0;
    }
}
@media screen and (max-width: 650px){
    .special-menu-menu-image {
        width: 100%;
    }
    .special-menu-menu-heading {
        font-size: 35px;
        line-height: 48.5px;
    }
}