.section-padding {
  padding: 4rem 6rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  background: url('./assets/bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.wrapper-info {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.wrapper-image {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}

.wrapper-image-reverse {
  justify-content: flex-start;
  margin-right: 2rem;
}

.wrapper-image img {
  width: 80%;
}

.custom-button {
  background-color: #f5efdb;
  color: #0c0c0c;
  font-family: 'Cormorant Upright', serif;
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 28px;
  font-size: 16px;
  padding: 0.5rem 1.5rem;
  border-radius: 1px;
  border: none;
  outline: none;
  cursor: pointer;
}

.p_-cormorant {
  font-family: 'Cormorant Upright', serif;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: 'tnum' on, 'lnum' on;
  line-height: 29.9px;
  font-size: 23px;
}

.p-opensans {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  line-height: 28px;
  font-size: 16px;
}

.headtext-cormorant {
  font-family: 'Cormorant Upright', serif;
  color: #dcca87;
  font-size: 64px;
  line-height: 83.2px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}

.spoon-image {
  width: 45px;
}

@media screen and (min-width: 2000px) {
  .custom-button,
  .p-cormorant {
    font-size: 37px;
    line-height: 67px;
  }

  .p-opensans {
    font-size: 30px;
    line-height: 50px;
  }

  .headtext-cormorant {
    font-size: 150px;
    line-height: 210px;
  }

  .spoon-image {
    width: 80px;
  }
}

@media screen and (max-width: 1150px) {
  .wrapper {
    flex-direction: column;
  }

  .wrapper-image {
    margin: 5rem 0 0 0;
  }

  .wrapper-image-reverse {
    margin: 0 0 5rem 0;
  }

  .wrapper-image img {
    width: 100%;
  }
}

@media screen and (max-width: 850px) {
  .section-padding {
    padding: 4rem;
  }
}

@media screen and (max-width: 650px) {
  .section-padding {
    padding: 4rem 2rem;
  }
  
  .p-cormorant {
    font-size: 21px;
  }

  .p-opensans {
    font-size: 14px;
  }
}

@media screen and (max-width: 450px) {
  .p-opensans {
    font-size: 12px;
  }

  .p-cormorant {
    font-size: 19px;
  }

  .headtext-cormorant {
    font-size: 45px;
    line-height: 70px;
  }
}
